<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
	<meta charset="UTF-8">
	<title>Unika Banco</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="login.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">  -->
</wicket:head>
<body>
 <!-- jQUery-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--  Ação para ocultar a div depois de 5 segundos -->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){ 
            setTimeout(function() {
                $("#goaway").fadeOut().empty();
            }, 4000);
        }, false);
    </script>
     
	<div id="goaway">
		<span wicket:id="feedbackMessage"></span> 
	</div>
	<div class="bgimg">
		<div class="centerdiv">
			<img alt="img" src="user.png" id="profile">
			<h2>Unika Banco</h2>
			<!-- <div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			 	<p wicket:id="feedbackMessage"></p> 

			</div> -->
			<!-- <p wicket:id="validacao"></p> -->
			<!-- <p class="alert alert-danger" data-dismiss="alert" wicket:id="errorLogin"><span aria-hidden="true">&times;</span></p> -->
			<form wicket:id="formularioLogin">
				<div>
					<input wicket:id="estado" class="inputbox" type="text"
						placeholder="agência">
				</div>

				<div>
					<input wicket:id="numero" class="inputbox" type="password"
						placeholder="conta">
				</div>
				<br>
				<div>
					<button id="#validacao" type="submit" name="submit">Ok</button>
				</div>
			</form>
			<br>
			 <div class="forget-section">
				<a href="#"><h4>Abra sua conta</h4></a>
			</div> 
		</div>
	</div>

</body>
</html>