<html>
<body>
	<wicket:extend>
		<div class="container" style="background-color: white">
			<h1>Realizar Saque</h1>
			<form wicket:id="form">
				<div class="row">
					<div class="col-md-6">
						<label class="text">Valor: *</label> <input wicket:id="valor"
							type="number" class="form-control" placeholder="Digite o valor" />
					</div>
					<div class="col-md-6">
						<label class="text">Senha</label> <input wicket:id="senha"
							class="form-control" type="password" placeholder="senha">
					</div>

				</div>
				<br /> <a wicket:id="salvar" class="btn btn-success" type="submit">Salvar</a>
			</form>
		</div>
	</wicket:extend>
</body>
</html>