<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="UTF-8">
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<body>
	<wicket:extend>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script type="text/javascript">
			function sucessSaque() {
				swal("Saque realizado com sucesso!", "!", "success");
			}
			function senhaIncorreta() {
				swal("Senha Incorreta!", "!", "error");
			}
			function valorInvalido() {
				swal("O valor deve ser acima de R$ 10,00!", "!", "info");
			}
		</script>
		<div class="container" style="background-color: white">
			<div class="card">
				<h5 class="card-header">Realizar Saque</h5>
				<div class="card-body">
					<form wicket:id="form">
						<div class="col-md-6">
							<label class="text">Valor: *</label> <input wicket:id="valor"
								type="number" class="form-control" placeholder="Digite o valor" />
						</div>
						<div class="col-md-6">
							<label class="text">Senha: *</label> <input wicket:id="senha"
								class="form-control" type="password" placeholder="senha">
						</div>

						<br /> <a wicket:id="salvar" class="btn btn-success"
							type="submit">Sacar</a>
					</form>
				</div>
			</div>
		</div>
	</wicket:extend>
</body>
</html>