<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:extend>
		<div class="container" style="background-color: white">
			<!-- 	<span><strong>Nome: </strong></span><span wicket:id="usuario"></span><br /> -->
			<span><strong>Numero da Conta: </strong></span><span
				wicket:id="numeroConta"></span><br />
			<!-- <span><strong>Banco: </strong></span><span wicket:id="banco"></span> -->
			<span><strong>Saldo: </strong></span><span wicket:id="saldo"></span>

			<br /> <br /> <br /> <br /> <br /><br />
		</div>

	</wicket:extend>
</body>
</html>