<!DOCTYPE html>
<html>
<wicket:head>
	<meta charset="utf-8" />
</wicket:head>
<body>
	<wicket:panel>
		<div class="card">
			<h5 class="card-header">Transação Sucedida</h5>
			<div class="card-body">
				<div class="alert alert-success" role="alert">
					<h3 class="alert-heading">Transação realizada com sucesso!!!</h3>
				</div>
				<a wicket:id="telaPrincipal" class="btn btn-success b_middle"
					style="text-align: center; margin-left: 40%; margin-right: 40%;">Fechar
				</a>
			</div>
		</div>
	</wicket:panel>
</body>
</html>