<html>
<body>
	<wicket:extend>

		<!-- jQUery-->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!--  Ação para ocultar a div depois de 5 segundos -->
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
				setTimeout(function() {
					$("#goaway").fadeOut().empty();
				}, 4000);
			}, false);
		</script>

		<div id="goaway">
			<span wicket:id="feedbackMessage"></span>
		</div>
		<div class="container" style="background-color: white">
			<div class="card">
				<h5 class="card-header">Conta a ser debitada:</h5>
				<div class="card-body">
					<span><strong>Nome: </strong></span><span wicket:id="nome"></span><br />
					<span><strong>Tipo: </strong></span><span wicket:id="tipoConta"></span><br />
					<span><strong>Conta: </strong></span><span wicket:id="numeroConta"></span><br />
				</div>
				<br />
			</div>
			<div class="card">
				<h5 class="card-header">Conta a ser creditada:</h5>
				<div class="card-body">
					<form wicket:id="form">
						<div class="row">
							<div class="col-md-4">
								<Label class="text">Contato: </label> <select
									class="form-control"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label class="text">Conta Destinatario: *</label> <input
									wicket:id="numeroConta" type="number" class="form-control"
									placeholder="Digite o numero conta" />
							</div>
							<div class="col-md-4">
								<label class="text">CPF Destinatario: *</label> <input
									wicket:id="cpf" type="number" class="form-control"
									placeholder="Digite o valor" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label class="text">Valor: *</label> <input wicket:id="valor"
									type="number" class="form-control" placeholder="Digite o valor" />
							</div>
							<div class="col-md-4">
								<label class="text">Senha: *</label> <input wicket:id="senha"
									class="form-control" type="password" placeholder="senha">
							</div>
						</div>
						<br /> <a wicket:id="salvar" class="btn btn-success"
							type="submit">Transferir</a>
					</form>
				</div>
			</div>
			<div wicket:id="modalWindowSucesso"></div>
		</div>
	</wicket:extend>
</body>
</html>