
<wicket:panel>
<div class="container-fluid">
 	<h1>Cadastro Usuarios</h1>
	<form wicket:id="formUsuario">
		<div class="row">
			<div class="col-md-6">
				<label class="text">Nome</label>
				<input wicket:id="nome" type="text" class="form-control"  placeholder="Digite o nome" />
			</div>
			<div class="col-md-6">
			<label class="text">Perfil</label>
				<select wicket:id="perfil" class="form-control"></select>
			</div>
			<div class="col-md-6">
				<label class="text">Usuario</label>
				<input wicket:id="login" type="text" class="form-control" placeholder="Usuario" />
			</div>
			<div class="col-md-6">
				<label class="text">senha</label>
				<input wicket:id="senha" type="password" class="form-control" placeholder="password" />
			</div>
			<div class="col-md-6">
				<label class="text">Confirmar senha</label>
				<input wicket:id="confirmarSenha" type="password" class="form-control" placeholder="password" />
			</div>
		</div>
		<br /><a wicket:id="submit" class="btn btn-success" type="submit">Salvar</a>
	</form>
</div>
</wicket:panel>