* {
	margin: 0;
	padding: 0;
	font-family: 'Cinzel', serif;
}

.bgimg {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(27deg, #004E95 50%, #013A6B 50%)
}

.centerdiv {
	width: 350px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: red;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(27deg, #013A6B 50%, #004E95 50%);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
}

#profile {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	top: -60px;
	left: calc(( 350px - 120px)/2);
}

h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	word-spacing: 10px;
	margin-top: -50px;
	margin-bottom: 20px;
	text-shadow: -2px 2px 1px #0A84C6;
}

.inputbox {
	width: calc(100% - 40%);
	height: 30px;
	display: block;
	margin: auto;
	padding: 0 10px;
	border-sizing: border-box;
}

::placeholder {
	letter-spacing: 2px;
	color: black;
}

button {
	width: calc(100% -40px);
	height: 30px;
	display: block;
	margin: auto;
	color: white;
	background-color: #0A84C6;
	border: none;
}

.forget-section {
	width: calc(100% -40px);
	height: 30px;
	display: block;
	margin: auto;
	color: white;
	background-color: dodgerblue;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
}

.alertMessage {
	margin-left: 15px;
	float: right;
	line-height: 10px;
	transition: 0.3s;
	/* position: absolute;  */
	align-content: flex-end;
	right: 15px;
	padding: 15px;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}