/* TOPO */
.body{
	background-color: #004E95;
	margin: 0px;
	
}
.container{
    margin: 10px 0px 10px 20 px;
    padding: 4px;
    background-color: #eaea8b;
}
.topo {
    margin: 5px 5px;
    padding: 5px;
}
    .logo{
        width: 100px;
    }

/* MENU HORIZONTAL */
.menu-horizontal{
    padding: 5px 0px;
    background-color: #3D3D3D;
    border-radius: 10px;
    margin: 0px 5px 8px 5px;
}
.menu-horizontal a {
    text-transform: uppercase;
    color: #FFFFFF;
}

/* MEIO */
.meio{
    margin: 10px 0 ;
}


/* MENU VERTICAL */
.menu-vertical{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
}
.menu-vertical a {
    text-transform: uppercase;
}
.menu-vertical .item-info{
    font-weight: bold;
}


/*RODAPE*/
.rodape p {
    text-align: center;
}