<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- <context:property-placeholder location="classpath:/jdbc.properties"></context:property-placeholder> -->


	<context:component-scan
		base-package="com.mybank" />
	<tx:annotation-driven
		transaction-manager="transactionManager" proxy-target-class="true" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/unika_banco"></property>
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<!-- passando a bean anotado -->
			<list>
				<value>com.mybank.model.Endereco</value>
				<value>com.mybank.model.Usuario</value>
				<!-- <value>com.mybank.model.Gerente</value> -->
				<value>com.mybank.model.Banco</value>
			</list>
		</property>
		<!-- configurações para o hibernate properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>

			</props>
		</property>
	</bean>


	<bean id="enderecoDao" class="com.mybank.dao.EnderecoDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="enderecoService"
		class="com.mybank.service.EnderecoService">
		<property name="enderecoDao" ref="enderecoDao"></property>
	</bean>


	<bean id="usuarioDao" class="com.mybank.dao.UsuarioDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="usuarioService"
		class="com.mybank.service.UsuarioService">
		<property name="usuarioDao" ref="usuarioDao"></property>
	</bean>

	<!-- <bean id="gerenteDao" class="com.mybank.dao.GerenteDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="gerenteService" class="com.mybank.service.GerenteService">
		<property name="gerenteDao" ref="gerenteDao"></property>
	</bean> -->

	<bean id="bancoDao" class="com.mybank.dao.BancoDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="bancoService" class="com.mybank.service.BancoService">
		<property name="bancoDao" ref="bancoDao"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<context:annotation-config />
</beans>